<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zhong Jinfeng">
    {% include css.inc.html %}
    <title>SOHOBIZ - 虚拟工作圈</title>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SohoBIZ</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li class="active">
                    <a href="circles.html">工作圈</a>
                </li>
                <li>
                    <a href="friends.html">好友</a>
                </li>
                <li>
                    <a href="settings.html">设置</a>
                </li>
            </ul>
            {% include passport.inc.html %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <div style="margin-top: 2em;">
        <ol class="breadcrumb" data-service-url="/circle/{{ id }}" data-service-type="GET">
            <li><a href="circles.html">工作圈</a></li>
            <li class="active" name="name"></li>
        </ol>
        <div class="jumbotron" data-service-url="/circle/{{ id }}" data-service-type="GET">
            <div class="container">
                <h1 name="name"></h1>

                <p name="description"></p>

                <p><a class="btn btn-primary btn-lg" role="button" data-toggle="modal"
                      data-target="#update-circle-modal">修改 »</a></p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="update-circle-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">修改工作圈信息</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" name="circle" method="post" action="/circle">
                                <div class="form-group">
                                    <label for="circle-name" class="control-label">名称</label>
                                    <input type="text" class="form-control" id="circle-name" name="name"
                                           placeholder="圈子名称">
                                </div>
                                <div class="form-group">
                                    <label for="circle-description" class="control-label">描述</label>
                                    <textarea class="form-control" id="circle-description" name="description"
                                              placeholder="请输入圈子的简介" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="update-circle-btn">确认</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#deployments" data-toggle="tab">应用</a></li>
            <li><a href="#members" data-toggle="tab">成员</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content clearfix">
            <div class="tab-pane active in fade" id="deployments">
                <div class="col-md-8" style="padding-top: 2em;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                        <th>#</th>
                        <th>应用名称</th>
                        <th>应用CLASS</th>
                        <th>版本</th>
                        <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="deployments-tbody" data-service-url="/deployments/{{ id }}" data-service-type="GET" data-iter-name="iter">
                        <tr name="iter">
                            <td name="id"></td>
                            <td name="name"></td>
                            <td name="class"></td>
                            <td name="version"></td>
                            <td><a data-link-prefix="deployment.html?id=" name="id"><span
                                    class="glyphicon btn-default glyphicon-cog"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4" style="padding-top: 2em;">
                    <div class="panel panel-info">
                        <div class="panel-heading">可部署应用</div>
                        <div class="panel-body">

                            <ul id="module-list" class="module-icons clearfix" data-service-url="/modules"
                                data-service-type="GET" data-iter-name="iter" data-after-callback="init_module_popup">
                                <!--<li name="iter" style="cursor: pointer;">-->
                                <!--<a onclick="return deploy(this)"><span name="name"></span>：<span name="class"></span>.<span name="version"></span></a></li>-->
                                <li name="iter" class="btn btn-default btn-lg pull-left" data-container="body" data-toggle="hover"
                                    data-placement="bottom" onclick="return deploy(this)"><span name="name"></span>

                                    <div class="hidden"><p name="class"></p>

                                        <p>版本：<span name="version"></span></p></div>
                                </li>
                            </ul>
                            <div class="alert" id="feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade panel" id="members">成员列表</div>
        </div>

        <hr>
        <footer>
            {% include footer.inc.html %}
        </footer>
    </div>
    </div>
    <!-- /container -->

    {% include js.inc.html %}
    <script type="text/javascript">
        function init_module_popup(elm) {
            $('li', elm).each(function () {
                $(this).popover({
                    'trigger': 'hover',
                    'html': true,
                    'content': $(' > div ', this).html()
                });
                $(this).on('click', function (evt) {

                });
            });
        }

        function deploy(elm) {
            var li_elm = $(elm).closest('li');
            var doc = $.parseXML('<deployment/>');
            __append_cdata_node(doc, doc.documentElement, 'class', $('[name="class"]', li_elm).text())
            __append_cdata_node(doc, doc.documentElement, 'name', $('[name="name"]', li_elm).text())
            __append_cdata_node(doc, doc.documentElement, 'version', $('[name="version"]', li_elm).text())
            $.ajax({
                type: 'POST',
                url: '/deploy/{{ id }}',
                data: new XMLSerializer().serializeToString(doc),
                success: function (response, status, jqXHR) {
                    var did = $(':root', response).attr('id');
                    $('#feedback').removeClass('alert-error');
                    $('#feedback').addClass('alert-success');
                    $('#feedback').text('部署成功');
                    $('#deployments-tbody').append('<tr>' +
                            '<td>' + did + '</td>' +
                            '<td>' + $('[name="name"]', elm).text() + '</td>' +
                            '<td>' + $('[name="class"]', elm).text() + '</td>' +
                            '<td>' + $('[name="version"]', elm).text() + '</td>' +
                            '<td><a href="deployment.html?id=' + did + '"><span class="glyphicon btn-default glyphicon-cog"></span></a></td>' +
                            '</tr>');

                    setTimeout(function () {
                        $('#feedback').removeClass('alert-success');
                        $('#feedback').empty();
                    }, 3000);

                },
                error: function (jqXHR, status, error) { /* ... */
                }
            });
        }

        $(function () {
            $('#update-circle-btn').on('click', function () {
                $frm = $(this).closest('form').get(0);
                var doc = $.parseXML('<circle/>');
                __append_cdata_node(doc, doc.documentElement, 'name', $('#circle-name').val())
                __append_cdata_node(doc, doc.documentElement, 'description', $('#circle-description').val())
                $.ajax({
                    type: 'PUT',
                    url: '/circle/{{ id }}',
                    data: new XMLSerializer().serializeToString(doc),
                    success: function (response, status, jqXHR) {
                        load_service($('.jumbotron, .breadcrumb'));
                        $('#update-circle-modal').modal('hide');
                    },
                    error: function (jqXHR, status, error) { /* ... */
                    }
                });
            });
        });
    </script>
</body>
</html>
