{% if current_user %}

    <div class="nav navbar-right btn-group">
      <button class="navbar-btn btn btn-default dropdown-toggle btn-success" data-toggle="dropdown">
          <span>{{ current_user['email'] }}</span>
      </button>
      <button type="button" class="navbar-btn btn btn-default dropdown-toggle btn-success" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="my.html">我的账号</a></li>
        <li><a href="friends.html">我的好友</a></li>
        <li><a href="pwd.html">修改密码</a></li>
        <li class="divider"></li>
        <li onclick="$('#logout-form').submit()"><a href="#">注销</a></li>
      </ul>
        <form action="/logout" id="logout-form" method="post">
        </form>
    </div>



{% else %}

    <form class="navbar-form navbar-right" role="form" action="/login" method="post">
        <div class="form-group">
          <input type="text" placeholder="注册邮箱" class="form-control" name="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="密码" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">登陆</button>
        <a class="btn btn-success" href="/login">注册</a>
    </form>

{% end %}