<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    {% include 'metahead.html' %}
    <title>WEICBD - 微信模块</title>
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>
    
    <div class="container">
        <nav class="west">
            {% include 'nav.html' %}
        </nav>
        <div class="center">
            {% module Template(weicbd_wrapper_page, **get_arguments_dict()) %}
        </div>
        <!--<aside>-->
        <!--</aside>-->
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

</html>