  <div id="appmsg-dialog" title="消息素材" data-dialog-options="appmsg_dialog_options" class="scrollable-dialog">
    <div class="appmsg-column-left">
      <div class="appmsg appmsg-new">
        <div class="appmsg-content">
          <div class="mask">
            <button>编辑</button>
          </div>
          <h4 class="appmsg-title">[标题……]</h4>
          <div class="appmsg-thumb-wrapper">
            <img alt="封面图片……" class="appmsg-thumb"/>
          </div>
          
          <div class="appmsg-description">
            <p>[描述文本……]</p>
          </div>

        </div>
      </div>
    
      <div class="appmsg">
        <div class="appmsg-content">
          <div class="mask">
            <button>编辑</button>
          </div>

          <h4 class="appmsg-title">Title</h4>
          <div class="appmsg-thumb-wrapper">
            <img src="https://mmbiz.qlogo.cn/mmbiz/tas9VZhMHFCNPiczHOQq078zaUQWYzMtmoBjbvVPQNgndgXb31mSCiaL0gYpddJBIokIUycTa48icaBzWq6E61oEw/0" class="appmsg-thumb"/>
          </div>
          <div class="appmsg-description">
            <p>description</p>
          </div>
        </div>

        <div class="appmsg-sub-item">
          <div class="mask">
            <button>编辑</button>
          </div>
          <h4>Title</h4>
          <img src="https://mmbiz.qlogo.cn/mmbiz/tas9VZhMHFCNPiczHOQq078zaUQWYzMtmoBjbvVPQNgndgXb31mSCiaL0gYpddJBIokIUycTa48icaBzWq6E61oEw/0" class="appmsg-sub-thumb"/>
        </div>

        <div class="appmsg-opr">
          <ul class="ui-state-default" style="border: none;">
            <li><span class="ui-icon ui-icon-pencil"></span></li>
            <li><span class="ui-icon ui-icon-trash"></li>
          </ul>
        </div>
      </div>
      
      <div class="appmsg">
        <div class="appmsg-content">
          <div class="mask">
            <button>编辑</button>
          </div>
          <h4 class="appmsg-title">Title</h4>
          <div class="appmsg-thumb-wrapper">
            <img src="https://mmbiz.qlogo.cn/mmbiz/tas9VZhMHFCNPiczHOQq078zaUQWYzMtmoBjbvVPQNgndgXb31mSCiaL0gYpddJBIokIUycTa48icaBzWq6E61oEw/0" class="appmsg-thumb"/>
          </div>
          <div class="appmsg-description">
            <p>description</p>
          </div>
        </div>

        <div class="appmsg-sub-item">
          <div class="mask">
            <button>编辑</button>
          </div>
          <h4>Title</h4>
          <img src="https://mmbiz.qlogo.cn/mmbiz/tas9VZhMHFCNPiczHOQq078zaUQWYzMtmoBjbvVPQNgndgXb31mSCiaL0gYpddJBIokIUycTa48icaBzWq6E61oEw/0" class="appmsg-sub-thumb"/>
        </div>

        <div class="appmsg-opr">
          <ul class="ui-state-default" style="border: none;">
            <li><span class="ui-icon ui-icon-pencil"></span></li>
            <li><span class="ui-icon ui-icon-trash"></li>
          </ul>
        </div>
      </div>
      
      <div class="appmsg">
        <div class="appmsg-content">
          <div class="mask">
            <button>编辑</button>
          </div>

          <h4 class="appmsg-title">Title</h4>
          <div class="appmsg-info">2013-4-4</div>
          <div class="appmsg-thumb-wrapper">
            <img src="https://mmbiz.qlogo.cn/mmbiz/tas9VZhMHFCNPiczHOQq078zaUQWYzMtmoBjbvVPQNgndgXb31mSCiaL0gYpddJBIokIUycTa48icaBzWq6E61oEw/0" class="appmsg-thumb"/>
          </div>
          <div class="appmsg-description">
            <p>description</p>
          </div>
        </div>
        <div class="appmsg-opr">
          <ul>
            <li><span class="ui-icon ui-icon-pencil"></span></li>
            <li><span class="ui-icon ui-icon-trash"></li>
          </ul>
        </div>
      </div>
      

      
    </div>
    
    <div class="scrollable-dialog-content appmsg-column-right">
      <div class="appmsg">
        <div class="appmsg-content">
        
          <form>
            <div><label for="appmsg-title"><h4>标题</h4></label> <input class="text-input" id="appmsg-title" name="title" value="" placeholder="请输入图文标题" type="text"/></div>
            <div><label for="appmsg-desc"><h4>描述</h4></label> <textarea class="text-input" id="appmsg-desc" name="description" value="" placeholder="请输入图文描述"></textarea></div>
            <h4>图片</h4>
            <div class="appmsg-thumb-upload">
              <span class="message">把文件拖动到此上传<i>(HTML5支持)</i></span>
            </div>
            <div><label for="appmsg-url"><h4>URL</h4></label> <input class="text-input" id="appmsg-url" name="title" value="" placeholder="请输入链接地址" type="text"/></div>
          </form>
        </div>
        <div class="appmsg-opr">
          <ul class="ui-state-default" style="border: none;">
            <li><span class="ui-icon ui-icon-check"></span></li>
            <li><span class="ui-icon ui-icon-close"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>