/*˵��*/
/*��Ҫ�滻��ɫ 333333  �� �������� ��Щ�Ӵֵ�����*/
/*��Ҫ�滻��ɫ 318b92  �� ������ɫ*/

body{ background: #e9e9e9;
  padding: 0;
  margin: 0;}

.s_head{ height:225px;}
.s_head_t1{ margin-top:107px;}
.s_head_1{ height:32px; padding-left:65px;}
.s_head_1_a,a.s_head_1_a:link,a.s_head_1_a:visited{font-size:24px; font-weight:bold; color:#ffffff}/*ͷ�ϴ����*/
.s_head_t2{}
.s_head_2{padding-left:65px; font-size:14px; color:#ffffff; height:25px}/*ͷ������*/

.s_head_t3{ margin-top:25px;}
.s_head_3{ background-repeat:no-repeat; padding-left:110px}
.s_head_3 li{ float:left; padding-left:12px; padding-right:12px;}
.s_head_3 li a{ font-size:14px; color:#000000}/*��ҳ ���� ��� ������ С����*/

.s_head_4{ background-color:#000000; height:38px;}
.s_head_4 li{ float:left;line-height:25px; }
.s_head_4put {display:block; width:75px; line-height:25px; text-align:center;  border:1px #acacac solid; background-color:#FFFFFF; margin-right:10px}

/*���*/
.blog_table{ border:1px #929c9f solid; background-color:#FFFFFF}/*�߿���ɫ*/
.blog_lanmu{ height:23px; color:#333333; font-weight:bold; padding-left:10px;}

.blog_table_t1{ line-height:25px; font-weight:bold; font-size:14px;}
.blog_table_t2{ border-bottom:1px #000000 solid}
.blog_table_t3{ font-weight: bold;}
.blog_table_t3 span{margin-left:20px; color:#c26c00; font-weight: normal;}
.blog_table_table{word-wrap: break-word; word-break: break-all; margin-top:7px; margin-bottom:7px; line-height:22px; border-bottom:1px #CCCCCC dotted}
.blog_table_texths{ color:#999999; line-height:22px}
.blog_table_tm{ line-height:22px; border-bottom:1px #CCCCCC dotted; padding-left:12px;}

.blog_right{border:1px #6b93c3 solid; background-color:#FFFFFF}
.left_text{line-height:22px; border-bottom:1px #CCCCCC dotted;color:#318b92 }
.left_text span{ margin-left:10px;}
.left_text2{line-height:22px; color:#318b92}
.blog_list{ margin-top:20px; margin-bottom:20px; border-bottom:1px #CCCCCC dashed}
.blog_list_1{ line-height:40px}
.blog_list_1 span{ color:#333333}
.blog_list_2{ line-height:30px; color:#637160}
.blog_list_3{ line-height:22px; font-size:14px}
.blog_list_2_a,a.blog_list_2_a:link,a.blog_list_2_a:visited{font-size:12px;color:#318b92}
.blog_list_4{ line-height:30px; color:#637160}
.blog_list_4_a,a.blog_list_4_a:link,a.blog_list_4_a:visited{font-size:12px;color:#318b92}
.blog_list_title,a.blog_list_title:link,a.blog_list_title:visited{font-size:18px; font-weight:bold; color:#318b92}

.user_pic{ border:1px #CCCCCC solid; padding:2px}
.left_user_pic{ border:1px #CCCCCC solid; padding:2px}
.album_pic{border:1px #CCCCCC solid; padding:5px}
.left_link,a.left_link:link,a.left_link:visited{color:#318b92}
.left_table{margin-top:7px; margin-bottom:7px; line-height:22px;}
.left_class{ color:#637160}
.left_class_a,a.left_class_a:link,a.left_class_a:visited{color:#318b92; font-size:14px;}
/*�ұ�*/
.blog_view{ margin-top:20px}
.blog_view_1{ height:30px}
.blog_view_2{ height:30px;}
.blog_view_3{ width:698px;word-wrap:break-word;word-break:break-all; overflow:hidden; color:#2B2C2C; font-size:16px;font-weight:100; line-height:29px}
.view_ding{height:58px; text-align:center; width:60px; margin-left:300px;}
.view_ding span{FONT-WEIGHT: bold; FONT-SIZE: 15px; line-height:30px;}
.view_ding a{ line-height:23px;}
.view_sx{ font-size:14px;}
.view_sx a{ font-size:14px;}
.view_pl{height:23px;}
.view_pl_1{ padding-left:10px; color:#318b92}
.view_pl_2{ text-align:right; padding-right:10px; color:#318b92}
.right_link,a.right_link:link,a.right_link:visited{color:#318b92}
.view_pllist{ margin-top:10px; border-bottom:1px #CCCCCC dashed; font-size:14px;}
.view_pllist_1{ font-size:14px; line-height:22px}
.view_pllist_1 a{ font-size:14px; }
.view_pllist_2{ font-size:12px; line-height:22px; color:#999999}
.view_pllist_3{font-size:14px; line-height:22px}
.right_list{ margin-top:10px;}
.right_list td{ border-bottom:1px #CCCCCC dashed; height:28px; color:#637160; font-size:14px;}
/*�ײ�*/
.foot_td_1{ color:#726c63; text-align:center; height:22px;}
.foot_td_2{ color:#726c63; text-align:center; height:22px}
.foot_td_3{ text-align:center; display:none}
.foot_td_4{ height:20px;}


/*����*/
.view_album_2{ border-bottom:1px #CCCCCC dashed}
.bukeyipinglun{color:#FF0000; margin-top:20px; font-size:16px; font-weight:bold; text-align:center}
.pl_textarea{ width:696px; height:100px; border:1px #7f9db9 solid}
.view_verifyCode{ border:1px #7f9db9 solid; height:16px; width:60px; padding-top:2px;}
.view_username{ border:1px #7f9db9 solid; height:16px; width:100px; padding-top:2px;}
/*��ҳ*/
DIV.viciao {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px; font-size:12px
}
DIV.viciao A {
	BORDER: #cccccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px;PADDING-TOP: 2px; MARGIN-RIGHT: 2px; COLOR: #748396; TEXT-DECORATION: none
}
DIV.viciao A:hover {
	BORDER: #cccccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; MARGIN-RIGHT: 2px; color:#748396; background-color:#ffffff; text-decoration:none
}
DIV.viciao A:active {
	BORDER: #cccccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; MARGIN-RIGHT: 2px; color:#748396; background-color:#ffffff; text-decoration:none
}
DIV.viciao SPAN.current {
	BORDER: #cccccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; MARGIN-RIGHT: 2px;FONT-WEIGHT: bold;COLOR: #748396;   BACKGROUND-COLOR: #eeeeee
}
DIV.viciao SPAN.disabled {
	BORDER: #ccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;MARGIN-RIGHT: 2px; COLOR: #ccc; 
}

.font14b,a.font14b:link,a.font14b:visited{color: #27a400; font-size:14px; font-weight:bold}

