body {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
li {
	list-style: none;
}
dt {
	list-style: none;
}
dd {
	list-style: none;
}
img {
	border: currentColor;
}
a {
	color: rgb(68, 68, 68); text-decoration: none;
}
body {
	font: 12px/1.5 tahoma, arial, "ו"; font-size-adjust: none; font-stretch: normal; background-color: rgb(246, 246, 246);
}
.dib {
	display: inline-block;
}
.clearfix {
	
}
.clearfix::after {
	width: 0px; height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\200B";
}
.mid {
	margin: 0px auto; width: 960px;
}
.dn {
	display: none;
}
.fl {
	float: left;
}
.fn {
	float: none;
}
.fr {
	float: right;
}
.w20 {
	width: 20px;
}
.w46 {
	width: 46px;
}
.w150 {
	width: 150px;
}
.w280 {
	width: 280px;
}
.w960 {
	width: 960px;
}
